## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [20]:
# Your code here

numb = list(range(0, 80)) 

sample_list_1 = random.sample(numb, 80)

print(sample_list_1)

[62, 34, 48, 74, 52, 66, 28, 12, 58, 0, 1, 24, 41, 73, 19, 43, 30, 61, 68, 42, 32, 64, 60, 27, 77, 49, 22, 9, 16, 38, 71, 5, 29, 69, 51, 18, 8, 17, 25, 57, 63, 13, 44, 23, 53, 36, 65, 78, 11, 40, 33, 39, 2, 20, 15, 75, 46, 26, 45, 31, 37, 10, 7, 76, 50, 21, 47, 35, 79, 4, 59, 72, 54, 67, 55, 70, 56, 3, 6, 14]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set1 = set(sample_list_1)

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [25]:
# Your code here

sample_list_2 = [random.randint(0, 100) for _ in range(80)]

print(sample_list_2)

len(sample_list_2)

[94, 85, 36, 56, 5, 53, 13, 81, 81, 79, 17, 30, 27, 59, 35, 27, 63, 56, 64, 30, 85, 20, 12, 42, 30, 70, 42, 9, 41, 30, 30, 3, 16, 42, 65, 5, 89, 94, 89, 57, 8, 53, 93, 88, 26, 89, 5, 54, 88, 68, 50, 96, 21, 91, 15, 39, 57, 37, 100, 37, 75, 85, 57, 10, 26, 59, 66, 11, 55, 75, 17, 47, 79, 19, 2, 48, 57, 35, 53, 41]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set2 = set(sample_list_2)
len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 8, 9, 10, 14, 16, 18, 19, 22, 24, 26, 35, 36, 39, 40, 41, 43, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 61, 62, 64, 65, 67, 68, 70, 72, 74, 75, 77}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{98, 99, 100, 80, 84, 85, 86, 89, 90, 91, 92, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 11, 12, 13, 15, 17, 20, 21, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 42, 44, 45, 46, 49, 53, 59, 60, 63, 66, 69, 71, 73, 76, 78, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [51]:
# Your code here



# set1 + set2 - set5 = set3 + set4 + set5


print(len(set1)) # todo a
print(len(set2)) # todo b
print(len(set3)) # diferencia entre 1 y 2
print(len(set4)) # diferencia entre 2 y 1
print(len(set5)) # comunes entre 1 y 2

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2130318939.py, line 6)

#### Create an empty set called `set6`.

In [55]:
# Your code here
set6 = set()

print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
# Your code here

set6.update(set3, set5)

set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79}

#### Check if `set1` and `set6` are equal.

In [62]:
# Your code here

if set1 == set2:
    print("The sets are the same.")
else:
    print("The sets are different.")

The sets are different.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
# Your code here
#issubset Returns whether or not another set contains this set

subset1 = set1.issubset(set2)
print(subset1)

subset2 = set1.issubset(set3)
print(subset1)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [69]:
# Your code here

set_union1 = set3.union(set4, set5)

print(set_union1)

set_union2 = set1.union(set2)

print(set_union2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 84, 85, 86, 89, 90, 91, 92, 93, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 84, 85, 86, 89, 90, 91, 92, 93, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [85]:
# Your code here

set1_list = list(set1)
set1_list.insert(0, 1)
set1_list.insert(0, 0)

set1_list.pop(0)
set1_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [94]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_remove = set(list_to_remove)

set1.difference(set_remove)

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78}