## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100) , k = 80)
print(sample_list_1)

[8, 95, 59, 44, 80, 5, 91, 26, 54, 66, 6, 75, 40, 61, 15, 33, 49, 1, 90, 47, 85, 72, 29, 51, 68, 71, 78, 93, 73, 13, 83, 69, 28, 89, 25, 82, 79, 0, 16, 64, 86, 23, 67, 4, 34, 62, 32, 87, 39, 60, 2, 74, 58, 88, 11, 21, 24, 53, 18, 84, 42, 30, 56, 45, 57, 37, 38, 43, 96, 97, 94, 81, 12, 70, 55, 48, 22, 9, 50, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for v in range (0, 80):
    number = random.randint(0, 100)
    sample_list_2.append(number)
print(sample_list_2)

[27, 60, 37, 11, 24, 26, 1, 8, 42, 5, 14, 92, 98, 16, 3, 64, 34, 30, 5, 46, 68, 100, 99, 92, 49, 78, 46, 92, 69, 43, 94, 14, 55, 6, 73, 29, 7, 5, 20, 49, 5, 65, 19, 6, 73, 80, 60, 75, 58, 97, 28, 19, 86, 24, 93, 86, 37, 51, 44, 81, 67, 33, 61, 80, 42, 87, 28, 99, 72, 90, 50, 2, 21, 21, 93, 88, 60, 78, 44, 46]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set(set1.difference(set2))
print(set3)
print(len(set3))

{0, 4, 9, 12, 13, 15, 18, 22, 23, 25, 32, 38, 39, 40, 45, 47, 48, 53, 54, 56, 57, 59, 62, 66, 70, 71, 74, 79, 82, 83, 84, 85, 89, 91, 95, 96}
36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set4 = set(set2.difference(set1))
print(set4)
print(len(set4))

{65, 98, 99, 100, 7, 14, 46, 19, 20, 27, 92}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set5 = set(set1.intersection(set2))
print(set5)
print(len(set5))

{1, 2, 3, 5, 6, 8, 11, 16, 21, 24, 26, 28, 29, 30, 33, 34, 37, 42, 43, 44, 49, 50, 51, 55, 58, 60, 61, 64, 67, 68, 69, 72, 73, 75, 78, 80, 81, 86, 87, 88, 90, 93, 94, 97}
44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [19]:
r = len(set5) + len(set4) + len(set3) + len(set2) 
if r == len(set1):
    print(r)
else:
    print(False)

False
<class 'set'>

#### Create an empty set called `set6`.

In [22]:
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 18, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 37, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97}

#### Check if `set1` and `set6` are equal.

In [26]:
z = set1.isdisjoint(set6)
print(z)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
z = set1.issubset(set2) 
y = set1.issubset(set3) 
print(f'set1 contains in set2: {z}, set1 contains in set3: {y}')

set1 contains in set2: False, set1 contains in set3: False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
z = set3.union(set4)
z = z.union(set5)
y = set1.union(set2)
x = z.issubset(y)
print(x)

True

#### Using the `pop` method, remove the first element from `set1`.

In [60]:
# once set there is not index we cant chose which element will be removed
# so we can use deiscad instead
set1.discard(8)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
print(set1)
print(len(set1))
# I add a valeu 5 in the list to check out bnecause all the values from the list is no in the set1 
list_to_remove = [1, 5, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for v in list_to_remove:
    if v in set1:
        set1.remove(v)
print(set1)
print(len(set1))

{5, 6, 12, 13, 15, 16, 18, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 37, 38, 42, 43, 44, 45, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 64, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97}
58
{6, 12, 13, 15, 16, 18, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 37, 38, 42, 43, 44, 45, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 64, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97}
57