## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [12]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)

print(sample_list_1)

[84, 34, 3, 35, 10, 99, 2, 1, 82, 6, 62, 43, 48, 44, 74, 93, 97, 39, 26, 73, 31, 75, 58, 61, 20, 33, 30, 17, 36, 53, 13, 67, 38, 85, 70, 77, 88, 64, 83, 60, 98, 81, 55, 41, 79, 32, 56, 87, 11, 65, 8, 68, 54, 42, 92, 59, 15, 47, 37, 49, 16, 24, 22, 4, 45, 66, 46, 29, 91, 50, 27, 78, 51, 71, 76, 0, 96, 28, 94, 63]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [26]:
set1 = set(sample_list_1)

print(len(sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
# Your code here
sample_list_2 = []

for n in range (0, 80):
    number = random.randint(0, 100)
    sample_list_2.append(number)
print(sample_list_2)

[87, 81, 39, 53, 32, 52, 95, 49, 20, 77, 38, 37, 84, 6, 87, 100, 24, 67, 69, 30, 85, 38, 41, 29, 85, 45, 48, 83, 65, 91, 35, 95, 36, 19, 91, 34, 92, 44, 63, 46, 12, 23, 99, 39, 56, 60, 52, 20, 49, 36, 72, 85, 78, 1, 55, 71, 36, 7, 41, 1, 71, 34, 99, 10, 70, 49, 18, 18, 37, 19, 44, 33, 23, 41, 68, 63, 95, 94, 28, 7]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [27]:
set2 = set(sample_list_2)

print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3 = set(set1.difference(set2))
print(set3)

{0, 2, 3, 4, 8, 11, 13, 15, 16, 17, 22, 26, 27, 31, 42, 43, 47, 50, 51, 54, 58, 59, 61, 62, 64, 66, 73, 74, 75, 76, 79, 82, 88, 93, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
set4 = set(set2.difference(set1))
print(set4)

{100, 69, 7, 72, 12, 18, 19, 52, 23, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here