## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [50]:
import random

⚠️ Did you get: module not found? Try, in a cell: <br>
`!pip install random`<br>
`import random`

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [51]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
sample_list_1

[80,
 95,
 13,
 81,
 27,
 2,
 12,
 7,
 20,
 99,
 86,
 32,
 10,
 65,
 69,
 74,
 48,
 55,
 24,
 72,
 92,
 42,
 36,
 30,
 52,
 37,
 66,
 16,
 68,
 90,
 75,
 39,
 19,
 89,
 18,
 3,
 83,
 44,
 23,
 84,
 79,
 57,
 49,
 0,
 45,
 47,
 88,
 1,
 9,
 17,
 63,
 61,
 71,
 58,
 46,
 96,
 87,
 11,
 43,
 82,
 22,
 6,
 98,
 93,
 15,
 50,
 4,
 53,
 67,
 78,
 60,
 31,
 5,
 54,
 76,
 62,
 25,
 14,
 34,
 21]

In [52]:
#just double checking
for i in sample_list_1:
    if sample_list_1.count(i) > 1:
        print("Problema")
    else:
        print("Todo OK")

Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK
Todo OK

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here
set1 = set(sample_list_1)
set1
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [54]:
# Your code here
sample_list_2 = []
for i in range(80):
    num = random.randint(0,100)
    sample_list_2.append(num)
sample_list_2

[96,
 49,
 26,
 60,
 82,
 18,
 38,
 26,
 43,
 60,
 45,
 29,
 39,
 11,
 7,
 59,
 47,
 33,
 50,
 37,
 83,
 93,
 34,
 12,
 56,
 99,
 20,
 57,
 84,
 90,
 58,
 24,
 66,
 58,
 53,
 80,
 70,
 100,
 51,
 67,
 68,
 94,
 97,
 83,
 85,
 21,
 25,
 80,
 46,
 77,
 25,
 18,
 3,
 88,
 35,
 21,
 27,
 12,
 52,
 48,
 19,
 33,
 47,
 60,
 26,
 80,
 32,
 42,
 11,
 71,
 0,
 48,
 13,
 92,
 43,
 84,
 2,
 41,
 14,
 50]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [55]:
# Your code here
sample_list_2 = set(sample_list_2)
set2= sample_list_2
len(set2)

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [87]:
# Your code here
set3 = set(set3)
set3 = []
for i in set1:
    if i in set1.difference(set2):
        print(i)
    else:
        set3.append(i)
set3

1
4
5
6
9
10
15
16
17
22
23
30
31
36
44
54
55
61
62
63
65
69
72
74
75
76
78
79
81
86
87
89
95
98

[0,
 2,
 3,
 7,
 11,
 12,
 13,
 14,
 18,
 19,
 20,
 21,
 24,
 25,
 27,
 32,
 34,
 37,
 39,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 57,
 58,
 60,
 66,
 67,
 68,
 71,
 80,
 82,
 83,
 84,
 88,
 90,
 92,
 93,
 96,
 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [57]:
# Your code here
set4 = []
for i in set2:
    if i in set2.difference(set1):
        print(i)
    else:
        set4.append(i)
print(set4)

26
29
33
35
38
41
51
56
59
70
77
85
94
97
100
[0, 2, 3, 7, 11, 12, 13, 14, 18, 19, 20, 21, 24, 25, 27, 32, 34, 37, 39, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 57, 58, 60, 66, 67, 68, 71, 80, 82, 83, 84, 88, 90, 92, 93, 96, 99]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [58]:
# Your code here
set5 = []
for i in set1:
    if i in set1.intersection(set2):
        print(i)
    else:
        set5.append(i)
print(set5)

0
2
3
7
11
12
13
14
18
19
20
21
24
25
27
32
34
37
39
42
43
45
46
47
48
49
50
52
53
57
58
60
66
67
68
71
80
82
83
84
88
90
92
93
96
99
[1, 4, 5, 6, 9, 10, 15, 16, 17, 22, 23, 30, 31, 36, 44, 54, 55, 61, 62, 63, 65, 69, 72, 74, 75, 76, 78, 79, 81, 86, 87, 89, 95, 98]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formula with Python code. Eg.: 

- my age is 30
- my son is 10
- my dad's twice my age
- my grandmother is three times my age minus my son's_age


A formula relating all these values would be:

`my_grandmother = my_age + my_dad's_age - my_sons_age`

Does this evaluate to True or to False?

In [66]:
set2

{0,
 2,
 3,
 7,
 11,
 12,
 13,
 14,
 18,
 19,
 20,
 21,
 24,
 25,
 26,
 27,
 29,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 56,
 57,
 58,
 59,
 60,
 66,
 67,
 68,
 70,
 71,
 77,
 80,
 82,
 83,
 84,
 85,
 88,
 90,
 92,
 93,
 94,
 96,
 97,
 99,
 100}

In [69]:
set3==set4

True

In [59]:
# Your code here
len(set1)+len(set2)-len(set5) == len(set3)+ len(set4)+len(set5)

False

#### Create an empty set called `set6`.

In [60]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
# Your code here
set6= set()
set6.update(set5)
set6.update(set6)
set6

{1,
 4,
 5,
 6,
 9,
 10,
 15,
 16,
 17,
 22,
 23,
 30,
 31,
 36,
 44,
 54,
 55,
 61,
 62,
 63,
 65,
 69,
 72,
 74,
 75,
 76,
 78,
 79,
 81,
 86,
 87,
 89,
 95,
 98}

#### Check if `set1` and `set6` are equal.

In [80]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [92]:
# Your code here

AttributeError: 'list' object has no attribute 'union'

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here